<label>Choose your amount:</label>
<input ng-model="amount" />
<div>
	<button type="button" class="btn btn-default btn-sm" ng-click="setAmount(predefinedAmounts[0])">
		{{ predefinedAmounts[0] }}
	</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="setAmount(predefinedAmounts[1])">
		{{ predefinedAmounts[1] }}
	</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="setAmount(predefinedAmounts[2])">
		{{ predefinedAmounts[2] }}
	</button>
	<button type="button" class="btn btn-default btn-sm" ng-click="setAmount(predefinedAmounts[3])">
		{{ predefinedAmounts[3] }}
	</button>
</div>